input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #686464;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

/* Set a style for buttons */
button {
  background: linear-gradient(145deg, #43031b, #b23adebd);
  background-size: 200% 200%;
  background-position: 100%;
  transition: background-position 0.5s;
  color: rgb(228, 222, 222);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
}

/* Add the hover animation */
button:hover {
  background-position: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
